<div class="col-md-12">
    <div class="tabbable-custom ">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#tab_5_1" data-toggle="tab">
                    <i class="fa fa-navicon"></i>
                    Chi tiết mua hàng
                </a>
            </li>
            <% if @order.deliveries.count > 0 %>
            <li>
                <a href="#tab_5_2" data-toggle="tab">
                    <i class="fa fa-navicon"></i>
                    Chi tiết giao hàng
                </a>
            </li>
            <% end %>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_5_1">
            <div class="portlet grey-cascade box">
                <div class="portlet-title">
                    <div class="caption">
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped flip-content">
                            <thead class="flip-content">
                                <tr>
                                    <th width="15%" class="text-left">Mã SP</th>
                                    <th>Tên SP</th>
                                    <th>Loại</th>
                                    <th class="numeric text-center">Số lượng đặt mua</th>
                                    <th class="numeric text-center">Số lượng đã giao</th>
                                    <th class="numeric text-center">Số lượng còn lại</th>
                                    <th class="text-right">Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @order.order_details.each do |order_detail| %>
                                    <tr>
                                        <td class="text-left"><strong><%= order_detail.product_code %></strong></td>
                                        <td class="text-left"><%= order_detail.product_name %></td>
                                        <td class="text-left"><%= order_detail.product_category_name %></td>
                                        <td class="numeric text-center"><%= format_number(order_detail.quantity) %></td>
                                        <td class="numeric text-center"><%= order_detail.delivered_quantity %></td>
                                        <td class="numeric text-center"><%= order_detail.not_delivered_quantity %></td>
                                        <th class="text-right">
                                            <% if order_detail.not_delivered_quantity > 0 %>
                                                <span class="label label-sm label-warning"><%= t('.'+Erp::Orders::OrderDetail::STATUS_NOT_DELIVERY) %></span>
                                            <% elsif order_detail.not_delivered_quantity == 0 %>
                                                <span class="label label-sm label-success"><%= t('.'+Erp::Orders::OrderDetail::STATUS_DELIVERED) %></span>
                                            <% else %>
                                                <span class="label label-sm label-danger"><%= t('.'+Erp::Consignments::ReturnDetail::STATUS_OVER_DELIVERED) %></span>
                                            <% end %>
                                        </th>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <% if @order.deliveries.count > 0 %>
        <div class="tab-pane" id="tab_5_2">
            <div class="portlet grey-cascade box">
                <div class="portlet-title">
                    <div class="caption">
                    </div>
                </div>
                <div class="portlet-body">                    
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped flip-content">
                                <thead class="flip-content">                            
                                    <tr>
                                        <th width="15%" class="text-left">Mã xuất kho</th>
                                        <th>Nhân viên phụ trách</th>
                                        <th>Kho xuất</th>
                                        <th>Ngày xuất kho</th>
                                        <th>Người nhận</th>
                                        <th>Trạng thái</th>
                                        <th class="text-right">Thao tác</th>
                                    </tr>                           
                                </thead>
                                <tbody>
                                    <% @order.deliveries.each do |delivery| %>
                                    <tr class="odd gradeX has-child-table" data-url="<%= erp_deliveries.delivery_details_backend_deliveries_path(id: delivery.id) %>">
                                        <td class="text-left">
                                            <i class="fa fa-plus expand tr-expand-button"></i>
                                            <strong><%= link_to '#' + delivery.code, "", target: '_blank' %></strong>
                                        </td>
                                        <td class="text-left"><%= delivery.employee_name %></td>
                                        <td class="text-left"><%= delivery.warehouse_name %></td>
                                        <td><%= delivery.date.strftime("%d/%m/%Y") %></td>
                                        <td class="text-left"><%= delivery.contact_name %></td>
                                        <td class="text-left"></td>
                                        <td class="text-left"><%= delivery_dropdown_actions(delivery) %></td>
                                    </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>                    
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>