<%= form_for([erp_deliveries, :backend, delivery], html: {multipart: true}) do |f| %>
    <input type="hidden" name="delivery[order_id]" value="<%= order_id %>">
    <input type="hidden" name="delivery[delivery_type]" value="<%= params[:order_type] %>">
    <div class="form-body">        
        <div class="row">
            <div class="col-md-6">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <%= erp_form_control("text", {
                            name: 'delivery[code]',
                            value: delivery.code,                   
                            label: t('.code')
                        }) %>
                        <%= erp_form_control('date', {
                            label: t('.delivery_date'),
                            name: 'delivery[delivery_date]',
                            value: delivery.delivery_date,
                            placeholder: t('.choose_delivery_date')
                        }) %>
                    </div>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable-custom ">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#tab_5_1" data-toggle="tab" aria-expanded="true"><%= t('.delivery_details') %></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane addableform-table active" id="tab_5_1">
                            <table class="table table-advance table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th><%= t('.product_code') %></th>
                                        <th><%= t('.product_name') %></th>
                                        <th><%= t('.delivered_quantity') %></th>
                                        <th><%= t('.deliver_quantity') %></th>
                                        <th><%= t('.serial_numbers') %></th>
                                        <th><%= t('.stock') %></th>
                                        <th><%= t('.status') %></th>
                                    </tr>
                                </thead>
                                <tbody class="addableform-container">
                                    <% Erp::Sales::Order.find(order_id).order_details.each_with_index do |order_detail,index| %>
                                        <input type="hidden" name="delivery[delivery_details_attributes][<%= index.to_s %>][order_detail_id]" value="<%= order_detail.id %>">
                                        <tr class="addableform-line">
                                            <td><%= order_detail.product.code %></td>
                                            <td><%= order_detail.product.name %></td>
                                            <td>
                                                1/<%= order_detail.quantity %>
                                            </td>
                                            <td>
                                                <%= erp_form_control("text", {
                                                    name: 'delivery[delivery_details_attributes][' + index.to_s + '][quantity]',
                                                    value: ''
                                                }) %>
                                            </td>
                                            <td>
                                                <%= erp_form_control("textarea", {
                                                    name: 'delivery[delivery_details_attributes][' + index.to_s + '][serial_numbers]',
                                                    value: ''
                                                }) %>
                                            </td>
                                            <td><%= order_detail.product.on_hand %></td>
                                            <td><span class="label label-sm label-danger">Hết hàng trong kho</span></td>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
    <%= erp_component('button/save', {
        text: t('submit')
    }) %>
    <%= erp_component('button/cancel', {
        text: t('cancel'),
        href: erp_deliveries.backend_deliveries_path
    }) %>
<% end %>