<% content_for :title do %>
    <%= @delivery.code %>
<% end %>

<% content_for :page_title do %>    
    <a href="<%= erp_deliveries.backend_deliveries_path %>">
    <i class="fa fa-opencart"></i> <%= t('.deliveries') %>
    </a> / <%= @delivery.code %>
<% end %>

<% content_for :page_toolbar do %>
    <%= erp_component('button/create', {
        text: t('.import'),
        href: erp_deliveries.new_backend_delivery_path(type: Erp::Deliveries::Delivery::TYPE_IMPORT)
    }) %>
    <%= erp_component('button/create', {
        text: t('.export'),
        href: erp_deliveries.new_backend_delivery_path(type: Erp::Deliveries::Delivery::TYPE_EXPORT)
    }) %>
<% end %>

<div class="row">
    <div class="col-md-12">
        <% if @delivery.errors.any? %>
            <%= erp_form_control("form_error_message") %>
        <% end %>
        
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <%= render 'form', delivery: @delivery, order_id: @delivery.order_id %>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>