<table class="table table-advance table-hover table-striped table-checkable order-column">
    <thead>
        <tr>
            <th width='1%'>
                <%= erp_datalist_check_all %>
            </th>
            <% if get_columns(params).include?("code") %>
                <th><%= t('.code') %></th>
            <% end %>
            <% if get_columns(params).include?("order_code") %>
                <th><%= t('.order_code') %></th>
            <% end %>
            <% if get_columns(params).include?("customer") %>
                <th><%= t('.customer') %></th>
            <% end %>
            <% if get_columns(params).include?("salesperson") %>
                <th><%= t('.salesperson') %></th>
            <% end %>
            <% if get_columns(params).include?("order_date") %>
                <th><%= t('.order_date') %></th>
            <% end %>
            <% if get_columns(params).include?("status") %>
                <th><%= t('status') %></th>
            <% end %>
            <% if get_columns(params).include?("creator") %>
                <th><%= t('creator') %></th>
            <% end %>
            <% if get_columns(params).include?("created_at") %>
                <th><%= t('created_at') %></th>
            <% end %>
            <th width="7%"><%= t('actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% if @deliveries.each do |delivery| %>
            <tr class="odd gradeX has-child-table" data-url="<%= erp_deliveries.delivery_details_backend_deliveries_path(id: delivery.id) %>">
                <td>
                    <%= erp_datalist_check_row(id: delivery.id) %>
                </td>
                <% if get_columns(params).include?("code") %>
                    <td>
                        <i class="fa fa-plus expand tr-expand-button"></i>
                        <%= link_to delivery.code, erp_deliveries.edit_backend_delivery_path(delivery) %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("order_code") %>
                <td><%= "#" + delivery.order.code %></td>
                <% end %>
                <% if get_columns(params).include?("customer") %>
                <td><%= delivery.order.customer_name %></td>
                <% end %>
                <% if get_columns(params).include?("salesperson") %>
                <td><%= delivery.order.employee_name %></td>
                <% end %>
                <% if get_columns(params).include?("order_date") %>
                <td><%= delivery.order.order_date.strftime("%d/%m/%Y") %></td>
                <% end %>
                <% if get_columns(params).include?("status") %>
                <td>
                    <% if delivery.status == Erp::Deliveries::Delivery::DELIVERY_STATUS_PENDING %>
                        <span class="label label-sm label-danger"><%= t('.'+delivery.status) %></span>
                    <% end %>
                    <% if delivery.status == Erp::Deliveries::Delivery::DELIVERY_STATUS_PACKED %>
                        <span class="label label-sm label-warning"><%= t('.'+delivery.status) %></span>
                    <% end %>
                    <% if delivery.status == Erp::Deliveries::Delivery::DELIVERY_STATUS_DELIVERING %>
                        <span class="label label-sm label-success"><%= t('.'+delivery.status) %></span>
                    <% end %>
                    <% if delivery.status == Erp::Deliveries::Delivery::DELIVERY_STATUS_DELIVERED %>
                        <span class="label label-sm label-info"><%= t('.'+delivery.status) %></span>
                    <% end %>
                </td>
                <% end %>
                <% if get_columns(params).include?("creator") %>
                    <td>
                        <%= erp_component('avatar', {
                            user: delivery.creator
                        }) %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("created_at") %>
                    <td><%= delivery.created_at.strftime("%d/%m/%Y") %></td>
                <% end %>
                <td>
                    <%= erp_datalist_row_actions(
                        [
                            {
                                text: '<i class="fa fa-eye"></i> '+t('.show'),
                                url: erp_deliveries.backend_delivery_path(delivery)
                            },
                            {
                                text: '<i class="fa fa-edit"></i> '+t('edit'),
                                href: erp_deliveries.edit_backend_delivery_path(delivery)
                            },
                            {
                                text: '<i class="fa fa-cubes"></i> '+t('.action_packed'),
                                url: erp_deliveries.set_packed_backend_deliveries_path(id: delivery),
                                data_method: 'PUT',
                                class: 'ajax-link'
                            },
                            {
                                text: '<i class="fa fa-send"></i> '+t('.action_delivering'),
                                url: erp_deliveries.set_delivering_backend_deliveries_path(id: delivery),
                                data_method: 'PUT',
                                class: 'ajax-link'
                            },
                            {
                                text: '<i class="fa fa-check"></i> '+t('.action_delivered'),
                                url: erp_deliveries.set_delivered_backend_deliveries_path(id: delivery),
                                data_method: 'PUT',
                                class: 'ajax-link'
                            },
                            {
                                text: '<i class="fa fa-eye-slash"></i> '+t('archive'),
                                url: erp_deliveries.archive_backend_deliveries_path(id: delivery),
                                data_method: 'PUT',
                                hide: delivery.archived,
                                class: 'ajax-link'
                            },
                            {
                                text: '<i class="fa fa-eye"></i> '+t('unarchive'),
                                url: erp_deliveries.unarchive_backend_deliveries_path(id: delivery),
                                data_method: 'PUT',
                                hide: !delivery.archived,
                                class: 'ajax-link'
                            },
                            {
                                divider: true
                            },
                            {
                                text: '<i class="fa fa-trash"></i> '+t('.delete'),
                                url: erp_deliveries.backend_delivery_path(delivery),
                                data_method: 'DELETE',
                                class: 'ajax-link',
                                data_confirm: t('delete_confirm')
                            }
                        ]
                    ) %>
                </td>
            </tr>
        <% end.empty? %>
            <tr>
                <td colspan="7"><%= t('.no_matching_records_found') %></td>
            </tr>
        <% end %>
    </tbody>
</table>
        
<%= erp_datalist_pagination(@deliveries) %>