<% content_for :title do %>
    <%= @delivery.code %>
<% end %>

<% content_for :page_title do %>    
    <a href="<%= erp_deliveries.backend_deliveries_path %>">
        <i class="icon-users"></i> <%= t('.deliveries') %>
    </a> / <%= @delivery.code %>
<% end %>

<% content_for :page_toolbar do %>
    <%= erp_component('button/create', {
        text: t('.import'),
        href: erp_deliveries.new_backend_delivery_path(type: Erp::Deliveries::Delivery::TYPE_IMPORT)
    }) %>
    <%= erp_component('button/create', {
        text: t('.export'),
        href: erp_deliveries.new_backend_delivery_path(type: Erp::Deliveries::Delivery::TYPE_EXPORT)
    }) %>
    <%= erp_component('button/actions', {
        actions:
        [
            {
                text: '<i class="fa fa-edit"></i> '+t('edit'),
                href: erp_deliveries.edit_backend_delivery_path(@delivery)
            },
            {
                text: '<i class="fa fa-eye"></i> '+t('unarchive'),
                url: erp_deliveries.unarchive_backend_deliveries_path(id: @delivery.id),
                data_method: 'PUT',
                hide: !@delivery.archived,
                class: 'link-method'
            },
            {
                text: '<i class="fa fa-eye-slash"></i> '+t('archive'),
                url: erp_deliveries.archive_backend_deliveries_path(id: @delivery.id),
                data_method: 'PUT',
                hide: @delivery.archived,
                class: 'link-method'
            },
            {divider: true},
            {
                text: '<i class="glyphicon glyphicon-trash"></i> '+t('.delete'),
                href: erp_deliveries.backend_delivery_path(@delivery),
                data_method: 'DELETE',
                data_confirm: t('delete_confirm'),
                class: 'link-method'
            }
        ],
        text: t('actions'),
        class: 'btn-noborder'
    }) %>
<% end %>

<div class="portlet light bordered">
    <%= render 'detail', delivery: @delivery %>  
</div>